body {
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), 
    url(/images/services-bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* Login Page */
.login-page {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

/* Form */
.form {
    position: relative;
    z-index: 1;
    background: rgba(7, 40, 102, 0.7);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 10%;
}

/* Input Fields */

.form input {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
}

.form button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    outline: 0;
    background: rgb(255, 94, 20);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.form button:hover, .form button:active {
    background: rgb(253, 123, 63);
}

.form .message {
    margin: 15px 0 0;
    color: aliceblue;
    font-size: 16px;
}

.form .message a {
    color: rgb(255, 94, 20);
    text-decoration: none;
}

.form .register-form {
    display: none;
}